body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ef8de0;
}

.container {
    text-align: center;
    background: rgb(172, 227, 247);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timer {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.timer div {
    font-size: 24px;
}
